.ng-invalid.ng-touched{
    border-color: #dd4b39;
}

.ng-valid.ng-touched{
    border-color: green;
}
.content h3 {
    color: #000000;
    font-size: 22px;
    font-family: 'Lora', serif;
    border-bottom: 1px dotted #b1b2b3;
    padding: 0 10px;
}

.container {  
    max-width: 720px;
    margin-right: auto;
    margin-left: auto;    
  }
  
  .quote {
      color: #8cc540;
      font-style: italic;
  }
  
  .redText {
      color: Red;
      font-size: 12px;
      font-family: Arial;
  }
  
  h1.titleText {
      color: #69a8cf;
      text-align: left;
      margin-top: 40px;
      font-weight: normal;
  }