.ng-invalid.ng-touched{
    border-color: #dd4b39;
}

.ng-valid.ng-touched{
    border-color: green;
}
.content h3 {
    color: #000000;
    font-size: 22px;
    font-family: 'Lora', serif;
    border-bottom: 1px dotted #b1b2b3;
    padding: 0 10px;
}

button:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE 8 */
    filter: alpha(opacity=50); /* IE7 */
    opacity: 0.6;
    text-decoration: none;
}

button.btn:hover {
    background: #d5242b;
    border: none;
    color: #fff;
    box-shadow: 5px 5px 10px #999;
    transition: 0.3s;
}

button.btn {
    margin: 18px 2px;
    width: 150px;
    padding: 10px;
    border-radius: 20px;
}

button.btn-first {
    background-color: darkorange;
    color: #fff;
}
button.btn-second {
    background: transparent;
    border: 1px solid #d5242b;
    color: #333;
}