<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Change Password</h3>
          <button class="glyphicon glyphicon-eye-open pull-right"  *ngIf="isActive" (click)="showIsactive()"></button>
          <button class="glyphicon glyphicon-eye-close pull-right" *ngIf="!isActive" (click)="showIsactive()"></button>
        </div>
        <div class="box-body">
          <div class="error" *ngIf="errorMessage">
            {{errorMessage}}
          </div>
          <div class="success" *ngIf="successMessage">
            {{successMessage}}
          </div>
          <form class="form-horizontal">
            <div class="col-md-9">
              <label for="current-password" class="col-sm-4 control-label">Current Password</label>
              <div class="col-sm-8">
                <div class="form-group">
                  <div class="col-md-12 input-group">
                    <input type="password" class="form-control" id="current-password" name="currentPassword"
                      [(ngModel)]="changePassword.currentPassword" *ngIf="isActive" #currentPassword="ngModel" placeholder="Password"
                      >
                    <input type="text" *ngIf="!isActive" class="form-control" id="current-password" name="currentPassword"
                      [(ngModel)]="changePassword.currentPassword" #currentPassword="ngModel" placeholder="Password"
                      >
                  </div>
                </div>
              </div>
              <label for="password" class="col-sm-4 control-label">New Password</label>
              <div class="col-sm-8">
                <div class="form-group">
                  <div class="col-md-12 input-group">
                    <input type="password" class="form-control" id="password" name="newPassword"
                      [(ngModel)]="changePassword.newPassword" *ngIf="isActive"  #newPassword="ngModel" placeholder="Password"
                      >
                    <input type="text" class="form-control" id="password" name="newPassword"
                      [(ngModel)]="changePassword.newPassword" *ngIf="!isActive"  #newPassword="ngModel" placeholder="Password"
                      >
                  </div>
                </div>
              </div>
              <label for="password_confirmation" class="col-sm-4 control-label">Re-enter Password</label>
              <div class="col-sm-8">
                <div class="form-group">
                  <div class="col-md-12 input-group">
                    <input type="password" class="form-control" id="password_confirmation" name="c_newPassword"
                      [(ngModel)]="changePassword.c_newPassword" *ngIf="isActive" #c_newPassword="ngModel" placeholder="Re-enter Password"
                      >
                    <input type="text" class="form-control" id="password_confirmation" name="c_newPassword"
                      [(ngModel)]="changePassword.c_newPassword"  *ngIf="!isActive" #c_newPassword="ngModel" placeholder="Re-enter Password"
                      >
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-5 col-sm-6">
                <button type="submit" (click)="submitPassword()" class="btn btn-danger">Submit</button>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</section>